@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;

    .content {
      width: 100%;
      overflow: auto;
    }
  }
}

/* Header Page */
.header-page {
  display: flex;
  width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: fit-content;
  justify-content: space-between;
  align-items: center;

  .header-start {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
  }

  .header-end {
    justify-self: flex-end;
  }
}

/* Home Page */
.home-page {
  display: flex;
  width: 100%;
  height: 90vh;
}

/* Footer Page */
.footer-page {
  display: flex;
  width: 100%;
  height: 50vh;
}
